body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1574623452334-1e0ac2b3ccb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
}

.container {
    margin: 33px auto 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
}

.h3-home {
    color: darkred;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 3px red;
    margin-top: 60px;
}

.home-score-container {
    background-color: #080001;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px
}

.home-score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: white;
    font-size: 90px;
    margin-top: 105px;
    color: #F94F6D;
}

.h3-guest {
    color: darkgreen;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 3px green;
    margin-top: 60px;
}

.guest-score-container {
    background-color: #080001;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px
}

.guest-score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: white;
    font-size: 90px;
    margin-top: 105px;
    color: #F94F6D;
}

.flex {
    display: flex;
    justify-content: center;
}

.button {
    width: 45px;
    height: 45px;
    margin-top: 26px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
}